
<div class="container">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="/">SBOK Guide</a>
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Principles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/intro">Introduction</a>
                    <a class="dropdown-item" href="/epc">Process control</a>
                    <a class="dropdown-item" href="/selforg">Self-organization</a>
                    <a class="dropdown-item" href="/collaboration">Collaboration</a>
                    <a class="dropdown-item" href="/valuebased">Value-based</a>
                    <a class="dropdown-item" href="/timeboxing">Time boxing</a>
                    <a class="dropdown-item" href="/iterative">Iterative Development</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/phases">Phases <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Roles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Justification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Change</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Risks</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/risk_role">Roles</a>
                    <a class="dropdown-item" href="/risk_what">What is risk?</a>
                    <a class="dropdown-item" href="/risk_mgt">Risk Management</a>
                    <a class="dropdown-item" href="/risk_mini">Minimizing Risk</a>
                    <a class="dropdown-item" href="/risk_portfolio">Portfolio & Program</a>
                    <a class="dropdown-item" href="/risk_summary">Risk Summary</a>
                    <a class="dropdown-item" href="/risk_vs">Risk vs.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
         
        </div>
      </nav> <!-- /navbar -->
