<%- include _header %>

      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Principles</h3>
                <p class="card-text"></p>
                <a href="/epc" class="btn btn-info">Go Process Control</a>
                <a href="/selforg" class="btn btn-info">Go Self-organization</a>
                <a href="/collaboration" class="btn btn-info">Go Collaboration</a>
                <a href="/valuebased" class="btn btn-outline-info">Go Value-based</a>
                <a href="/timeboxing" class="btn btn-outline-info">Go Time-Boxing</a>
                <a href="/iterative" class="btn btn-outline-info">Go Iterative Development</a>
            </div>
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Phases</h3>
                <p class="card-text"></p>
                <a href="/initiate" class="btn btn-primary">Go Initiate</a>
                <a href="/plan" class="btn btn-success">Go Plan & Estimate</a>
                <a href="/implement" class="btn btn-info">Go Implement</a>
                <a href="/review" class="btn btn-warning">Go Review and Retrospect</a>
                <a href="/release" class="btn btn-danger">Release</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Roles</h3>
                <p class="card-text"></p>
                <a href="/owner" class="btn btn-outline-info" >Go Product Owner</a>
                <a href="/master" class="btn btn-outline-info">Go Scrum Master</a>
                <a href="/team" class="btn btn-outline-info">Go Scrum Team</a>
                <a href="/noncore" class="btn btn-outline-info">Go Non-Core roles</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Business Justification</h3>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Quality</h3>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Change</h3>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Risks</h3>
                <p class="card-text"></p>
                <a href="/risk_role" class="btn btn-info" >Go Roles</a>
                <a href="/risk_what" class="btn btn-info" >Go What?</a>
                <a href="/risk_mgt" class="btn btn-info" >Go Management</a>
                <a href="/risk_mini" class="btn btn-info" >Go Minimize</a>
                <a href="/risk_portfolio" class="btn btn-info" >Go Portfolio</a>
                <a href="/risk_summary" class="btn btn-info" >Go summary</a>
                <a href="/risk_vs" class="btn btn-info" >Go Scrum vs.</a>
            </div>
        </div>
    </div>
<%- include _footer %>
