<%- include _header %>

      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Principles</h3>
                <p class="card-text"></p>
				<a href="/intro" class="btn btn-info">Introduction</a>
                <a href="/epc" class="btn btn-info">Control</a>
                <a href="/selforg" class="btn btn-info">Self-organization</a>
                <a href="/collaboration" class="btn btn-info">Collaboration</a>
                <a href="/valuebased" class="btn btn-info">Value-based</a>
                <a href="/timeboxing" class="btn btn-info">Time-Boxing</a>
                <a href="/iterative" class="btn btn-info">Iterative</a>
				<a href="/Principles_vs" class="btn btn-info">Versus</a>
            </div>
        </div>
    </div>
      
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Phases</h3>
                <p class="card-text"></p>
                <a href="/initiate" class="btn btn-primary">Go Initiate</a>
                <a href="/plan" class="btn btn-success">Go Plan & Estimate</a>
                <a href="/implement" class="btn btn-info">Go Implement</a>
                <a href="/review" class="btn btn-warning">Go Review and Retrospect</a>
                <a href="/release" class="btn btn-danger">Release</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Organizational</h3>
                <p class="card-text"></p>
                <a href="/owner" class="btn btn-outline-info" >Go Product Owner</a>
                <a href="/master" class="btn btn-outline-info">Go Scrum Master</a>
                <a href="/team" class="btn btn-outline-info">Go Scrum Team</a>
                <a href="/noncore" class="btn btn-outline-info">Go Non-Core roles</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Business Justification</h3>
                <p class="card-text"></p>
		<a href="/bj_intro" class="btn btn-info" >Introduction</a>
		<a href="/bj_roles" class="btn btn-info" >Roles</a>
		<a href="/bj_vdd" class="btn btn-outline-info" >Value-Driven</a>
		<a href="/bj_importance" class="btn btn-outline-info" >Importance</a>
		<a href="/bj_techniques" class="btn btn-outline-info" >Techniques</a>
		<a href="/bj_continuous" class="btn btn-outline-info" >Continuous</a>
		<a href="/bj_benefits" class="btn btn-outline-info" >Benefits</a>
		<a href="/bj_summary" class="btn btn-outline-info" >Summary</a>
		<a href="/bj_vs" class="btn btn-outline-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Quality</h3>
                <p class="card-text"></p>
                <a href="/qual_intro" class="btn btn-info" >Introduction</a>
                <a href="/qual_roles" class="btn btn-info" >Roles</a>
                <a href="/qual_defined" class="btn btn-info" >Defined</a>
                <a href="/qual_acceptance" class="btn btn-info" >acceptance</a>
                <a href="/qual_mgt" class="btn btn-info" >Management</a>
                <a href="/qual_summary" class="btn btn-info" >Summary</a>
                <a href="/qual_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Change</h3>
                <p class="card-text"></p>
                <a href="/chg_intro" class="btn btn-info" >Introduction</a>
		<a href="/chg_roles" class="btn btn-info" >Roles</a>
		<a href="/chg_overview" class="btn btn-info" >Overview</a>
		<a href="/chg_change" class="btn btn-info" >Change in Scrum</a>
		<a href="/chg_integrating" class="btn btn-info" >integrating</a>
		<a href="/chg_portfolio" class="btn btn-info" >portfolio</a>
		<a href="/chg_summary" class="btn btn-info" >Summary</a>
		<a href="/chg_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Risks</h3>
                <p class="card-text"></p>
                <a href="/risk_role" class="btn btn-info" >Go Roles</a>
                <a href="/risk_what" class="btn btn-info" >Go What?</a>
                <a href="/risk_mgt" class="btn btn-info" >Go Management</a>
                <a href="/risk_mini" class="btn btn-info" >Go Minimize</a>
                <a href="/risk_portfolio" class="btn btn-info" >Go Portfolio</a>
                <a href="/risk_summary" class="btn btn-info" >Go summary</a>
                <a href="/risk_vs" class="btn btn-info" >Go Scrum vs.</a>
            </div>
        </div>
    </div>
<%- include _footer %>
