<div class="row">
    <div class="col-sm-12">
		
			<div class="card card-block">
				<h4 class="card-title">{{$parent.overview.title}}</h4>
					
						<p class="card-text"></p>
					
			</div>
        
    </div>
</div>